3_datasets/
4_datasets/

#ignore everything in fig/
fig/*

#but do not ignore this file
!fig/3.1_bulk_metallicity_comparison_3_datasets_paper.pdf
!fig/3.2_trend_comparison.pdf
!fig/3.3_corner_plot_comparison_Thesis.pdf
!fig/3.3_corner_plot_comparison_Internship.pdf
!fig/3.3_corner_plot_comparison_overlay.pdf
!fig/3.3_box_plot_comparison_radius.pdf
!fig/3.3_box_plot_comparison_bulk_metallicity.pdf